.main{
   background-color: rgb(191, 178, 178);
    
    
}

.first_main{
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    /* gap: 1rem; */
    
}

.file_1{
    font-size: 25px;
    font-family: 'Passion One', sans-serif;
    font-family: 'Zilla Slab', serif;
    flex-basis: 200px;
    padding-left: 2px;
    
}

.file_2{
    /* background-color: red; */
    flex-basis: 400px;
    padding-left: 10px;
    /* display: flex; */
    gap: 5px;
    
    
    
     
}

.b1{
    height: 1.5rem;
    
    
}

.search{
    display: flex;
    flex-basis: 870px;
    height: 30px;
    justify-content: center;
}

.pfp{
   position: relative;
   top: -10px;
}



.pfp:hover{
    
    cursor: crosshair;
}